
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Wheels List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Brand</th>
        <th>Size ["]</th>
        <th>Width [J]</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let wheel of wheels | async">
        <td>{{wheel.brand}}</td>
        <td>{{wheel.size}}</td>
        <td>{{wheel.width}}</td>
        <td><button (click)="deleteWheel(wheel.id)" class="btn btn-danger">Delete</button>
          <button (click)="wheelDetails(wheel.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          <button (click)="wheelUpdate(wheel.id)" class="btn btn-outline-info" style="margin-left: 10px">Update</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
